%p
  = t('hello') + "#{@user.name}!"
  = t('you_subscribe') + "#{@user.categories.first.name}" + t('on_main_page')
  %br
  = link_to(@user.categories.first.name, category_url(@user.categories.first))
