= content_for(:title, @user.name)
.col-sm-12.col-md-12.col-lg-12.col-xl-12.well
  .text-center
    %h1
      = t('profile')
    - if @user == current_user
      .text-center
        = link_to(t('update'), edit_user_registration_path(current_user))
  .col-sm-6.col-md-6.col-lg-6.col-xl-6
    .text-center
      %h1
        = t('information')
    .col-sm-6.col-md-6.col-lg-6.col-xl-6
      .long_text
        =t('name') + ':'
        = @user.name
      %br
      = t('comments')
      = @user.comments.count
      %br
      = t('favorite_categories')
      = @user.categories.count
      %br
      = t('reg_data')
      = time_ago_in_words(@user.created_at) + t('ago')
      - if @user.last_sign_in_at.present?
        %br
        = t('last_visit')
        = time_ago_in_words(@user.last_sign_in_at)+ t('ago')
    .col-sm-6.col-md-6.col-lg-6.col-xl-6
      .text-center
        = image_tag(@user.avatar)
  .col-sm-6.col-md-6.col-lg-6.col-xl-6
    .text-center
      %h1
        = t('categories')
    = render partial: 'shared/list_of_categories', locals:  {categories: @user.owned_categories}
