.col-lg-12
  %h2
    = t('forgot_your_password')
  = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
    = devise_error_messages!
    .field
      = f.label :email
      %br/
      = f.email_field :email, autofocus: true, class:'form-control',type:'text', placeholder:'Email'
    %br
    .actions
      = f.submit t('send_reset_password_instructions'), class: 'btn btn-primary btn-block btn-lg outline'
    %br
  = render 'devise/shared/links'
