- if categories.empty?
  .text-center
    %h2
      =t('no_categories')
- else
  - categories.each do |category|
    .col-sm-12.col-md-12.col-lg-12.col-xl-12
      .text-center
        %h2
          .long_text
            = link_to(category.name, category_path(category))
    - images = category.images.count <= 3? category.images.all : category.images.first(3)
    - images.each do |image|
      .col-12.text-center.col-sm-4.col-md-4.col-lg-4.col-xl-4
        .hover11.column
          %figure
            = link_to(image_tag(image.picture.preview_thumb.url), category_image_path(image.category, image))
      %br
    .col-sm-12.col-md-12.col-lg-12.col-xl-12
      .pull-left
        %br
        = link_to(t('images') + category.images.count.to_s, category_path(category))
      .pull-right
        %br
          - if user_signed_in?
            - if current_user == category.owner || current_user.admin?
              = link_to(t('delete'), category_path(category), method: :delete, data: { confirm: t('you_sure'), toggle:'tooltip',placement:'left' }, title: t('delete_this_category_tooltip'))
            - else
            = render 'shared/subscribe_form', category: category
    %br
    %br
