- @comments.each do |comment|
  %br
  = User.find(comment.user_id).name
  say:
  %br
  = comment.content
  %br
  = time_ago_in_words(comment.created_at)
  ago
  %br
  = image_tag(comment.image.picture.small_thumb.url)
%br
= will_paginate @comments