- @comments.each do |comment|
  .col-sm-12.col-md-12.col-lg-12.col-xl-12
    .col-sm-12.col-md-12.col-lg-12.col-xl-12
      .col-sm-2.col-md-2.col-lg-2.col-xl-2
        .text-center
          %b
            = link_to(comment.user.name, user_path(comment.user))
          %br
          = image_tag(comment.user.avatar) if comment.user.avatar?
      .col-sm-10.col-md-10.col-lg-10.col-xl-10
        %br
          .long_text
            = comment.content
    .col-sm-12.col-md-12.col-lg-12.col-xl-12
      .pull-left
        = time_ago_in_words(comment.created_at)
        = t('ago')
      .pull-right
        - if user_signed_in?
          - if current_user.admin?
            = link_to(t('delete'), category_image_comment_path(comment.image.category, comment.image, comment),  method: :delete, data: { confirm: t('you_sure'), toggle:'tooltip',placement:'left' }, title: t('delete_this_comment_tooltip'))
#new_comments
%br
%br
.col-sm-12.col-md-12.col-lg-12.col-xl-12.text-center
  = will_paginate @comments