%body{style: "background: url('https://hdwallsource.com/img/2014/6/mountain-peaks-wallpaper-hd-33593-34349-hd-wallpapers.jpg'') repeat center center fixed"}
  = content_for(:title, 'Home')
  - if @images.empty?
    .container
      .row.well
        %h3
          - if user_signed_in?
            = t('you_have_no_images')
          - else
            = t('no_images_on_site')
  - else
    #carousel-example-generic.carousel.slide{'data-ride': 'carousel'}
      .carousel-inner{role:'listbox'}
        .item.active
          %a{href: category_image_path(@images.first.category, @images.first)}
            %img{alt: @images.first.title, src: @images.first.picture}
              .carousel-caption
                .hero.fadeInUp.animated
                  .title-carousel-text
                    = t('welcome_to_gallery')
                .carousel-picture-title
                  = @images.first.title
        - @images.each do |image|
          - next if image == @images.first
          .item
            %a{href: category_image_path(image.category, image)}
              %img{alt: image.title, src: image.picture}
                .carousel-caption
                  .hero
                    %hgroup.zoomInDown.animated
                      .title-carousel-text
                        = t('welcome_to_gallery')
                      .carousel-picture-title
                        = image.title
      / Controls
      %a.left.carousel-control{"data-slide": 'prev', href:'#carousel-example-generic', role: 'button'}
        %span.glyphicon.glyphicon-chevron-left{'aria-hidden': 'true'}
        %span.sr-only Previous
      %a.right.carousel-control{"data-slide": 'next', href: '#carousel-example-generic', role: 'button'}
        %span.glyphicon.glyphicon-chevron-right{'aria-hidden': 'true'}
    %br
    .container-fluid
      .row
        .col-sm-12.col-md-12.col-lg-12.col-xl-12.text-center
          = render 'shared/list_of_images'

:css
  h1, h2{
    color: white;
  }

  .wrapper:hover .text {
    font-size: 1.8em;
  }



