= content_for(:title, t('popular_image'))
.col-sm-12.col-md-12.col-lg-12.col-xl-12.well.text-center
  .hero.slideInDown.animated
    %h1
      = t('popular_image')
  - if @images.empty?
    %h1
      = t('no_images')
  = render partial: 'shared/list_of_images'
  .col-sm-12.col-md-12.col-lg-12.col-xl-12.text-center
    = will_paginate @images