= content_for(:title, @room.name)
.col-sm-12.col-md-12.col-lg-12.col-xl-12.well.well-tall
  .text-center
    .hero.slideInDown.animated
      %h1
        = @room.name
    - if user_signed_in?
      - if current_user == @room.user || current_user.admin?
        %span.glyphicon.glyphicon-pencil
        %a{remote: true, "data-target": '#updateRoomModal', "data-toggle": 'modal', href: edit_room_path(@room)}
          =t('update')
        |
        %span.glyphicon.glyphicon-remove
        = link_to(t('delete'), room_path(@room), method: :delete,  data: { confirm: t('you_sure')})
  .col-sm-12.col-md-12.col-lg-12.col-xl-12
    .pre-scrollable
      = render partial: 'shared/list_of_messages'
      #new_messages{data: { room_id: "#{@room.id}" }}
    = render partial: 'shared/message_form'

= render 'rooms/edit'
