.col-12.col-sm-12.col-md-12.col-lg-12.col-xl-12.text-center
  %h1
    TOP 5
= render partial: 'shared/list_of_categories', locals: {categories: @popular_categories}
.col-12.col-sm-12.col-md-12.col-lg-12.col-xl-12
  %h1
    = t('all_categories')
  = render partial: 'shared/list_of_categories', locals: {categories: @categories}
  .col-sm-12.text-center
    = will_paginate @categories
  - if user_signed_in?
    = render 'shared/create_new_category'