= content_for(:title, t('my_categories'))
.col-sm-12.col-md-12.col-lg-12.col-xl-12.well.text-center
  = render partial: 'shared/flash_messages'
  .hero.slideInDown.animated
    %h1
      = t('my_categories')
  = render partial: 'shared/list_of_categories', locals: {categories: @categories}
  = render 'shared/create_new_category'

