.p
  .strong
    .col-sm-4
      Name:
      %br
      = @category.name
    .col-sm-4
      Created by:
      %br
      =  @category.owner.name
    .col-sm-4
      Created at:
      %br
      = time_ago_in_words(@category.created_at)
      ago
    %hr
      .separator
    %br
    %br
    - if user_signed_in?
      - if current_user == @category.owner
        =link_to('Add image', new_category_image_path(@category))
        |
        =link_to('Update', edit_category_path)
        |
        =link_to('Delete', category_path, method: :delete, data: { confirm: 'You sure?' })
    = render 'subscribe_form'
    %br
      %hr
        .separator
    = render partial: 'shared/list_of_images'

