%body{style: "background: url(#{@category.cover.present? ? @category.cover : 'https://hdwallsource.com/img/2014/6/mountain-peaks-wallpaper-hd-33593-34349-hd-wallpapers.jpg'}) repeat center center fixed"}
  .container
    .row.well
      .col-sm-12
        = render partial: 'shared/flash_messages'
        .well
          .col-sm-3
            %b
              =t('name')
            %br
              = @category.name
          .col-sm-3
            %b
              = t('created_by')
            %br
            =  @category.owner.name
          .col-sm-3
            %b
              = t('created_at')
            %br
            = time_ago_in_words(@category.created_at)
            = t('ago')
          .col-sm-3
            .pull-right
              = render 'shared/subscribe_form', category: @category
              = t('followers')
              %label_tag{ class: 'js-count-followers-label' }
                = @category.users.count
          %hr
            .separator
        - if user_signed_in?
          - if current_user == @category.owner
            .col-sm-12.text-center
              %a{remote: true, "data-target": '#createImageModal', "data-toggle": 'modal', href: new_category_image_path(@category)}
                = t('add_image')
              |

              %a{remote: true, "data-target": '#updateCategoryModal', "data-toggle": 'modal', href: edit_category_path(@category), title: t('update_this_category_tooltip') }
                = t('update')
              |
              =link_to(t('delete'), category_path, method: :delete, data: { confirm: t('you_sure'), toggle:'tooltip',placement:'left' }, title: t('delete_this_category_tooltip'))
        %br
        %br
      = render partial: 'shared/list_of_images'
      = render partial: 'images/new'
      = render partial: 'categories/edit'
