%p
  = t('hello') + "#{@resource.name}" + '!'
%p
  = t('request_change_password')
%p
  = link_to t('change_password'), edit_password_url(@resource, reset_password_token: @token)
%p
  = t('please_ignore_change_password')
%p
  = t('password_wont_change')
