#createImageModal.modal.fade{"aria-labelledby": 'myModalLabel', role: 'dialog', tabindex: '-1'}
  .modal-dialog{role: 'document'}
    .modal-content
      .modal-header
        %button.close{"aria-label": 'Close', "data-dismiss": 'modal', type: 'button'}
          %span{"aria-hidden": 'true'} ×
        %h4#createImageModalLabel.modal-title
          =t('new_image_in')
          = @category.name
        .modal-body
          .col-lg-12
            = form_for [@category, @image] do |f|
              = render 'shared/error_messages', object: f.object
              .field
                = f.label t('title')
                = f.text_field :title, autofocus: true, class:'form-control', placeholder:t('title_image')
              .field
                = f.label t('description')
                = f.text_field :description, autofocus: true, class:'form-control', placeholder:t('description_image')
              %br
                = f.file_field :picture, accept: 'image/jpeg,image/gif,image/png', id: :uploaded_picture
              %br
              .actions
                .modal-footer
                  %button.btn.btn-default{"data-dismiss": 'modal', type: 'button'}
                    =t('close')
                  = f.submit t('add'), class: 'btn btn-primary active'