.col-lg-9
  %h2 Edit image
  = form_for [@category, @image] do |f|
    = render 'shared/error_messages', object: f.object
    .field
      = f.label :title
      = f.text_field :title, autofocus: true, class:'form-control', placeholder:'Title of the picture'
    .field
      = f.label :description
      = f.text_field :description, autofocus: true, class:'form-control', placeholder:'Description of the picture'
    %br
    .actions
      = f.submit 'Update', class: 'btn btn-primary active'