.p
  .strong
    .col-sm-4
      Title:
      %br
      = @image.title
    .col-sm-4
      Category:
      %br
      = @category.name
    .col-sm-4
      Owner:
      %br
      = @category.owner.name
    %hr
      .separator
    = image_tag(@image.picture)
    %br
    %br
    .col-sm-12
      = @image.description
    %br
    %br
      Uploaded at:
      %br
      = @image.created_at
      =# render partial: 'images/like_form'
    %hr
      .separator
        - if user_signed_in?
          - if current_user == @category.owner
            =link_to('Update', edit_category_image_path(@category, @image))
            |
            =link_to('Delete', category_image_path(@category, @image), method: :delete, data: { confirm: 'You sure?' })
            %hr
              .separator
        = render partial: 'shared/list_of_comments'
    %hr
      .separator
        = render partial: 'shared/comment_form'