!!!
%html
  %head
    %meta{content: 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type'}/
    %title Gallery
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    %script{:async => "", :defer => "defer", :src => "https://www.google.com/recaptcha/api.js"}
    :javascript
      function onSubmit(token) {
        document.getElementById("demo-form").submit();
      }
    = render 'layouts/header'
    - if action_name != 'home' && "#{action_name}" != 'show'
      %body
        .container
          .row.well
            .col-sm-12
              #notifications
              = render partial: 'shared/flash_messages'
              = yield
    -else
      = yield
#fb-root
:javascript
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = 'https://connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v2.11&appId=1977405342541239';
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

:javascript
  window.fbAsyncInit = function() {
    FB.init({
      appId      : 1977405342541239,
      cookie     : true,
      xfbml      : true,
      version    : v2.11
    });

    FB.AppEvents.logPageView();

  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
