!!!
%html
  %head
    %meta{content: 'text/html; charset=UTF-8', 'http-equiv': 'Content-Type'}/
    = favicon_link_tag asset_path('image-flat.png'), rel: 'icon', type:  'image/png'
    %link{href: 'https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css', rel: 'stylesheet'}/
    %title= content_for :title
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    %script{ async: '', defer: 'defer', src: 'https://www.google.com/recaptcha/api.js'}
    :javascript
      function onSubmit(token) {
        document.getElementById("demo-form").submit();
      }
    = render 'layouts/header'
    - if "#{controller_path}##{action_name}" == 'categories#show'
      %body{style: "background: url(#{set_cover}) repeat center center fixed"}
    - else
      %body
    - if action_name == 'home' || "#{controller_path}##{action_name}" == 'images#show'
      = render partial: 'shared/flash_messages'
      = yield
    - else
      .container
        .row
          = render partial: 'shared/flash_messages'
          = yield
