!!!
%html
  %head
    %meta{content: 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type'}/
    %title Gallery
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    %body
    = render 'layouts/header'
    .container
      .row
        = render partial: 'shared/flash_messages'
        = yield
    = render 'layouts/footer'